

#game {
	position: absolute;
	top: 60px;
	left: 60px;
}

#top-row {
	position: fixed;
	top: 0px;
	left: 60px;
	width: 480px;
	height: 60px;
}

#left-row {
	position: fixed;
	top: 60px;
	left: 0px;
	width: 60px;
	height: 480px;
}